.App {
  text-align: center;
}

.App-header {
  background-color: #8fa2c7;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.chosen {
  background-color: red;
}

.layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16;
}
.left-panel, .right-panel {
  align-items: center;
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center; 
}
.left-panel{
  background-color: bisque;
}
.right-panel {
  background-color: blanchedalmond;
}
.row {
  flex-direction: row;
}

