:root {
  --dark-green: #2c473c;
  --mid-green: #6d7b75;
  --sand: #d1c2b7;
  --light-mauve: #bb91a1;
  --mauve: #725460;
  --green-gray: #BBC5AA;
}
html {
  background-color: var(--mid-green);
}
.App {
  text-align: center;
}

.App-header {
  background-color: var(--dark-green);
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(32px + 2vmin);
  font-family: "Bisdak";
  color: white;
}

.chosen {
  background-color: var(--mauve);
}

.layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16;
}
.left-panel, .right-panel {
  background-color: var(--sand);
  align-items: center;
  width: 50vw;
  margin: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  min-height: 75vh;
}
.left-panel {
  gap: 12px;
}
.row {
  flex-direction: row;
}

.selected {
  color: white;
  background-color: var(--mauve);
}

.not-selected {
  background-color: var(--light-mauve);
}
.order-item {
  display: flex;
  padding: 12px;
  margin: 24px;
  border-radius: 12px;
  background-color: var(--light-mauve);
  width: 40vw;
  justify-content: space-between; /* Align items horizontally with space between them */
  position: relative; /* Positioning context for absolute positioning of button */
}
.order-body{
  flex-direction: column;
}
.tea {
  border: 2px solid var(--mauve);
}
.order-name {
  background-color: var(--mauve);
  color: white;
  margin: 4px 4px;
  border-radius: 4px;
}

button {
  border: none;
  border-radius: 8px;
  margin: 4px;
  padding: 8px;
}
button:hover {
  cursor: pointer;
} 
.order-item button {
  border-radius: 12px;
  background-color: var(--mauve);
  background-image: url(../public/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  width: 20%;
  color: var(--mauve);
  margin: 0; 
  padding: 12px; /* Remove any padding */
  height: 100%; /* Make button height same as parent div */
  position: absolute; /* Position absolutely within the parent div */
  top: 0; /* Align button to the top edge of the parent div */
  right: 0; /* Align button to the right edge of the parent div */
}

.curr-drink {
  background-color: var(--light-mauve);
  border-radius: 10px;
  width: 40vw;
}
.two-columns {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: start;
  gap: 8px 16px;
}
